@import "./variables";

.details-container {
  font-size: $detail-font-size;
  color: $dark-blue-dark-mode;
  background-color: $very-light-gray-light-mode;
  min-height: 100vh;
  transition: 0.2s;

  .back {
    margin-top: 3rem;
    margin-left: 4rem;
    padding: 0.5rem 2.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: $white;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.50);
    cursor: pointer;
    transition: 0.2s;

    &__icon {
      width: auto;
      height: 1rem;
    }

    &__text {
      font-size: 1rem;
      font-weight: $font-normal;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .main {
    padding: 3rem 4rem;
    display: flex;
    gap: 5rem;

    &__flag {
      width: 30rem;
      height: auto;
      align-self: center;
      // border: 1px solid $very-dark-blue-dark-mode;
      box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.50);
    }

    &__info {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(2, auto);
      grid-template-areas:
        "name name"
        "col1 col2"
        "borders borders";
      gap: 2rem 10rem;

      &__name {
        grid-area: name;
        font-size: 2rem;
        font-weight: $font-bold;
      }

      &__col-1 {
        grid-area: col1;
      }

      &__col-2 {
        grid-area: col2;
      }

      &__label {
        font-weight: $font-normal;
      }

      &__value {
        font-weight: $font-light;
      }

      &__border-countries {
        grid-area: borders;
        display: flex;
        align-items: center;
        gap: 1.5rem;

        &__list {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
        }
      }

      &__value--tag {
        color: $very-dark-blue-dark-mode;
        padding: 0.25rem 1rem;
        box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.50);
        border-radius: 0.125rem;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          opacity: 0.6;
        }
      }

      &__value--no-value {
        margin-left: -1rem;
      }

    }
  }
}

.details-container--dark {
  color: $very-light-gray-light-mode;
  background-color: $very-dark-blue-dark-mode;

  .back {
    background: $dark-blue-dark-mode;

    &__icon {
      filter: invert(98%) sepia(99%) saturate(3%) hue-rotate(160deg) brightness(113%) contrast(96%);
    }

    &__text {
      color: $very-light-gray-light-mode;
    }
  }

  .main {
    &__info {
      &__value--tag {
        background-color: $dark-blue-dark-mode;
        color: $very-light-gray-light-mode;
      }
    }
  }
}