@import "./variables";

.header {
  padding: 1rem 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  box-shadow: 0px -35px 15px 25px rgba(0, 0, 0, 0.50);
  position: relative;
  transition: 0.2s;

  &__title {
    font-size: 1.5rem;
    font-weight: $font-bold;
  }

  &__toggler {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.2s;

    &__moon-icon {
      width: 1.25rem;
      height: 1.25rem;
      transition: 0.2s;
    }

    &__text {
      font-size: 1rem;
      font-weight: $font-normal;
      transition: 0.2s;
    }

    &:hover &__text,
    &:hover &__moon-icon {
      opacity: 0.6;
    }
  }
}

.header--dark {
  background-color: $dark-blue-dark-mode;

  .header__toggler {
    &__moon-icon {
      filter: invert(99%) sepia(2%) saturate(983%) hue-rotate(239deg) brightness(117%) contrast(96%);
    }

    &__text {
      color: $very-light-gray-light-mode;
    }
  }
}